html, body, #root{
  height: 100%;
  margin: 0;
  font-size: 1.2rem;
}

.App {
  text-align: center;
  height: 100%;
  background-color: #0FA4AF;
  color: white;
}

.header {
  background-color: rgb(236, 236, 236);
  padding: 1px;
  background-color: #024950;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  box-sizing: border-box;
}

.search-bar {
  position: relative;
  width: 50%;
}

.search-bar input {
  width: 100%;
}

.search-bar input, .search-container button {
  height: 2rem;
  font-size: 1rem;
  padding: 0 12px;
  box-sizing: border-box;
}

.search-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  background: white;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  color: black;
}

.search-suggestions li:hover {
  background: rgb(228, 228, 228);
}

.weather-display > *{
  padding: 0px;
  margin: 0 auto;
}

.weather-display {
  padding: 5vh 0vh;
}

p b {
  color: #003135;
}